body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.custom {

  &__div_icon{
    position: relative;
    width: 50px;
    height: 50px;
    background: url('./resources/img/place_image-red.svg') left top/ contain no-repeat;
    
    &::before {
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;

    }
  }
  &__root_container{
    width: 100vw;
    height: 100vh;
  }
  &__cursor_pointer {
    cursor: pointer;
  }

  &__user_map_icon {
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #3f51b5;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.leaflet{
  &-popup{
    transform: translate3d()
  }
  &-popup-content-wrapper{
    .leaflet-popup-content{
      margin: 0 !important;
      width: auto !important;
    }
  }
  &-popup-close-button{
    display: none !important;
  }
}
